
__pycache__/
*.pyc
.venv/
venv/
.DS_Store
.idea/
.vscode/


utils/.env
utils/service_account.json
*credentials*
*service*account*
*.pem
*.p12


*.mp3


# ========================================
# TRACKS — show only directory structure, ignore files
# ========================================

# Ignore everything in tracks
tracks/**

# Allow genre folders
!tracks/
!tracks/goa/
!tracks/psy/
!tracks/dark/

# Allow artist folders (directories only)
!tracks/goa/*/
!tracks/psy/*/
!tracks/dark/*/

# ========================================
# DATA — show only directory structure, ignore files
# ========================================

# Ignore everything inside data
data/**

# Allow main data folder + subfolders
!data/
!data/goa/
!data/psy/
!data/dark/
!data/cache/

# ========================================
# MODELS — ignore ALL model files, allow only latest.h5
# ========================================
make_models/models/**/*.h5
make_models/models/**/*.keras
make_models/models/**/*.tflite

!make_models/models/latest.h5

# Analysis Text Reports — allow
!make_models/models/**/analysis/*.txt

# Dev scripts
git_acp.py

# allow entire folder
!frontend/
!frontend/**/*

.devcontainer/
devcontainer
.devcontainer
